<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block", class: "form-label"%>
    <%= form.text_field :title, class: "form-control form-control-lg" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: "form-label"%>
    <%= form.text_area :description, class: "form-control form-control-sm w-10" %>
  </div>

  <div class="form-check form-check-dark">
    <%= form.check_box :completed, class: "form-check-input" %>
    <%= form.label :completed, style: "display: block", class: "form-label"%>
  </div>
  
  <div>
    <%= form.submit class: "btn btn-outline-dark" %>
  </div>
<% end %>
